<style>
    body {
        padding: 50px;
        font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    a {
        color: #00B7FF;
    }

    textarea {
        font-size: 20px;
    }

    .clearfix:after {
        content: '';
        clear: both;
        display: table;
    }

    /*
      Input files block
    */
    .compare-files-block {
    }

    .baseFile {
        width: 45%;
        float: left;
    }

    .compareFile {
        width: 45%;
        float: right;
    }

    /*
      Button block
    */
    .btn-block {
        margin: 25px 0;
    }

    .btn {
        margin: 0 auto;
        display: block;
        cursor: pointer;
        padding: 10px 30px;
        font-size: 20px;
        border: none;
        outline: none;
    }

    .compare-btn {
        float: left;
        background-color: #4CAF50;
        border: 2px solid #4CAF50;
    }

    .compare-btn:active {
        background: grey;
        transition: background 200ms ease;
    }

    .clear-btn {
        float: right;
        background: #4a3a80;
    }

    /*
      Header
    */
    .header {
        padding: 15px;
        padding-left: 0;
    }

    /*
      Action block
    */
    .action-block button, .load, .input, .btn {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        outline: none;
        font-size: 20px;
    }

    .action-block .input {
        background-color: #4CAF50;
        border: 2px solid #4CAF50;
    }

    .action-block .load {
        background-color: #008CBA;
        border: 2px solid #008CBA;
    }

    .action-block button.active {
        background-color: white;
        color: black;
    }

    /*
      Load block
    */
    .load-block {
        height: 50px;
        margin-bottom: 20px;
    }

    .load-block.active {
        visibility: hidden;
    }

    .load-block input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .load-block label:first-child {
        margin-right: 15px;
    }

    .load-block input + label {
        padding: 10px;
        font-size: 23px;
        font-weight: 700;
        color: white;
        background-color: lightseagreen;
        display: inline-block;
        cursor: pointer;
    }

    .load-block input:focus + label,
    .load-block input + label:hover {
        background-color: #007a59;
    }

</style>
<div class="container">
    <div class="header">
        <div class="action-block">
            <button class="input active">Input Text</button>
            <button class="load">Local File</button>
        </div>
    </div>
    <div class="load-block clearfix active">
        <input type="file" id="load-base" class="load-input load-base">
        <label for="load-base">Choose base file</label>
        <input type="file" id="load-compare" class="load-input load-compare">
        <label for="load-compare">Choose compare file</label>
    </div>
    <div class="compare-files-block clearfix">
        <textarea class="baseFile" name="" id="" cols="30" rows="15"></textarea>
        <textarea class="compareFile" name="" id="" cols="30" rows="15"></textarea>
    </div>

    <div class="btn-block clearfix">
        <button class="btn compare-btn">Compare</button>
        <button class="btn clear-btn">Clear</button>
    </div>

    <div class="results output-block clearfix">

    </div>
</div>

<script>
    let
            container = document.querySelector('.results'),
            compareBtn = document.querySelector('.compare-btn'),
            clearBtn = document.querySelector('.clear-btn'),
            typeBlock = document.querySelector('.action-block'),
            typeBtns = document.querySelectorAll('.action-block button'),
            loadBlock = document.querySelector('.load-block'),
            loadBase = document.querySelector('.load-base'),
            loadCompare = document.querySelector('.load-compare'),
            baseFile = document.querySelector('.baseFile'),
            compareFile = document.querySelector('.compareFile');

    const DATA_TYPES = ['input', 'load'];

    let
            currentType = DATA_TYPES[0];

    /**
     * Compare button handle sending request
     * */
    compareBtn.onclick = e => {
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                container.innerHTML = xhr.responseText;
            }
        };

        xhr.open('POST', 'api/compare/', true);
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');

        let
                requestData = createRequest();

        if (requestData) {
            xhr.send(requestData);
        }

        e.preventDefault();
    };

    typeBlock.onclick = e => {

        let
                target = e.target,
                type = target.classList[0];

        if (currentType === type) {
          return;
        }

        [].slice.call(typeBtns).map(btn => btn.classList.remove('active'));


        if (DATA_TYPES.indexOf(type) !== -1) {
            currentType = type;
            loadBlock.classList.toggle('active');
            target.classList.toggle('active');
        }
    };

    /**
     * Input handlers
     * */
    loadBase.onchange = event => {
        let
                target = event.target,
                file = target.files[0],
                fileReader = new FileReader();

        fileReader.onload = event => {
            baseFile.value = event.target.result;
        };
        fileReader.readAsText(file, "UTF-8");
    };

    loadCompare.onchange = event => {
        let
                target = event.target,
                file = target.files[0],
                fileReader = new FileReader();

        fileReader.onload = event => {
            compareFile.value = event.target.result;
        };
        fileReader.readAsText(file, "UTF-8");
    };

    /**
     * Prepare request data
     * */
    const createRequest = () => {
        if (!baseFile.value || !compareFile.value) {
            return null;
        }

        return JSON.stringify({
            base: baseFile.value,
            compare: compareFile.value,
        })
    };

    clearBtn.onclick = () => {
        [baseFile, compareFile].forEach(textarea => textarea.value = '');
        container.innerHTML = '';
    }

</script>