<style>
    table {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    thead th {
        height: 50px;
        text-align: left;
    }

    th, td {
        padding: 15px;
        text-align: left;
    }

    th, td {
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    tr:hover {background-color: #f5f5f5}

    tbody tr {
        border-bottom: 1px solid grey;
    }
</style>

<table>
    <thead>
    <tr>
        <th>Index</th>
        <th>Status</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    {{#each result}}
    <tr>
            <td>{{index}}</td>
            <td>{{status}}</td>
            <td>{{value}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>