body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
  font-size: 20px;
}
.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

/*
  Input files block
*/
.compare-files-block {
}

.baseFile {
  width: 45%;
  float: left;
}

.compareFile {
  width: 45%;
  float: right;
}

/*
  Output file block
*/
.output-block {

}

.output-file {
  width: 45%;
  float: left;
}

/*
  Button block
*/

.btn-block {
  margin: 25px 0;
}

.compare-btn {
  margin: 0 auto;
  display: block;
  cursor: pointer;
  padding: 10px 30px;
  font-size: 20px;
  border: none;
  outline: none;
}

.compare-btn:active {
  background: grey;
  transition: background 200ms ease;
}
